nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(7, 123, 127);
    min-height: 7vh;
    
}
.nav-links{
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    text-decoration: none;
    width: 75%;
}

.nav-link{
    color: white;
    text-decoration: none;
    padding: 0.8em;
}
.text{
    color: white;
    text-decoration: none;
    padding: 0.3em;
    margin-right: 12em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
}
.icon{
    display: none;
}
.content_home{
    display: flex;
}
.footer{
    position: fixed;
    width: 100%;
    background-color: rgb(0, 40, 0);
    min-height: 7vh;
    bottom: 0%;
}
.container{
    background-color: skyblue;
    display: grid;
    border: 2px solid black;
    grid-template-columns: 0.6fr 2.4fr 2fr;
    height: 23vh;
    overflow: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.container_information{
    color: red;
}
.content_home{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
    

}
.content_one{
    background-color: darkslategray;
   
}
.content_two{
    background-color: antiquewhite;
    color: black;
    height: 100%;
}
.content_three{
     background-color: darkolivegreen;
     
}

.form{
    display: flex;
    align-items: center;
    justify-content:center;
    border: 2px solid salmon;
    margin-top: 15vh;
    height: 35vh;
    margin-left: 25%;
    margin-right: 25%;
}
.button{
    margin-top: 0.3em;
    color: teal;
    background-color: bisque;
    border-radius: 3px;
    

}