nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(7, 123, 127);
    min-height: 7vh;
    
}
.nav-links{
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    text-decoration: none;
    width: 75%;
}

.nav-link{
    color: white;
    text-decoration: none;
    padding: 0.8em;
}
.text{
    color: white;
    text-decoration: none;
    padding: 0.3em;
    margin-right: 12em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
}
.icon{
    display: none;
}
.content_home{
    display: flex;
}
.footer{
    position: fixed;
    width: 100%;
    background-color: rgb(0, 40, 0);
    min-height: 7vh;
    bottom: 0%;
}
.container{
    background-color: skyblue;
    display: grid;
    border: 2px solid black;
    grid-template-columns: 0.6fr 2.4fr 2fr;
    height: 23vh;
    overflow: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.container_information{
    color: red;
}

.section1{
	background-color:#11181e;
	width:50%;
	float:left;
	height:100vh;
	border-right: 1vw solid #F5E5D6; 
    box-sizing: border-box;
    margin:0;
    padding:0;	
}
.section_root{
    
    margin-top: 15px;
    text-align: center;
}
.section_root1{
    font-size: 24px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section_root2{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 18px;
}
.section_root3{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section2{
	background-color:coral;
	width:50%;
	float:left;
	height:100vh;
	margin:0;
	padding:0;
  box-sizing: border-box;
}
.section2_root{
    display: flex;
    justify-content: space-around;
}
.section2_root1{
    font-size: 20px;
    font-weight: bold;
}
.section2_root2{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}

.form{
    display: flex;
    align-items: center;
    justify-content:center;
    border: 2px solid salmon;
    margin-top: 5vh;
    height: 5vh;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
}
.button{
    margin-top: 0.3em;
    color: teal;
    background-color: bisque;
    border-radius: 3px;
    

}